@import url('https://fonts.googleapis.com/css2?family=Abel&family=Poiret+One&display=swap');

:root {
    --titleFont: 'Poiret One', cursive;
    --textFont: 'Abel', sans-serif;
    --alabaster: #f4ede4;
    --lynch: rgba(108, 122, 137,.6);
    --greenHaze: rgba(1, 152, 117,);
}

html, body{
    height: 100%;
    margin: 0;
}

body {
    background-image: url(./assets/images/bence-csernak-hoi9epXt_Nw-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: var(--textFont);
    color: var(--alabaster);
}

/* -----------------HEADER----------------- */
.portfolio-name {
    font-family: var(--titleFont);
    font-size: 50px;
    margin: 20px;
}

/* ---------------NAVIGATION-------------- */
.nav-tabs {
    margin-top: 30px;
}

.nav-link {
    background-color: var(--lynch) !important;
    color: #f4ede4;
}

.active{
    color: var(--greenHaze) !important;
}

/* ----------------ABOUT ME---------------- */
.about-me-container {
    max-width: 80%;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 20px;
}

.about-me-title {
    margin-left: 75px;
}

.about-me-img {
    margin: auto;
    float: right;
}

.about-me-des-container {
    vertical-align: middle;
}

.about-me-description {
    vertical-align: middle;
}

/* ---------------CONTACT PAGE------------- */
.contactContainer {
    margin: auto;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
    max-width: 90%;
}

.form-container {
    max-width: 100%;
    margin: auto;
}

.name-email {
    margin: auto;
    justify-content: space-around;
}

.message-submit-btn {
    margin: auto;
}

.user-name,
.user-email,
.user-message {
    margin: 10px;
    margin-top: 30px;
    padding: 10px;
    border-radius: 5px;
    border: 2px gray solid;
    background-color: rgba(108, 122, 137,.5);
    color: var(--alabaster);
}

.user-name,
.user-email {
    min-width: 300px;
    max-width: 390px;
    line-height: 40px;
}

.message-stack-contaier {
    width: auto;
}

.user-message {
    height: 100px;
    width: 620px;
    line-height: 60px;
    margin-bottom: 20px;
}

.submit-btn {
    max-width: fit-content;
    align-self: flex-end;
    margin-right: 15px;
}

/* ---------------PROJECTS---------------- */
.projects-container {
    max-width: 80%;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
}

.project-card {
    width: 400px;
    max-width: 80%;
    height: 300px;
    margin: 20px;
    padding: 20px;
}

.img-overlay {
    margin: 5px;
    margin-top: 25px;
    opacity: 0;
    transition-timing-function: ease-in-out;
    transition: 0.5s;
}

.project-card .img-overlay:hover {
    opacity: 1;
}

.project-title {
    font-size: 30px;
}

/* -----------------RESUME----------------- */
.resume-main-container {
    margin: 100px 50px 100px 50px;
}

.resume-card {
    margin-bottom: 50px;
    padding: 5px 30px 5px 30px;
    display: grid;
    grid-template-columns: auto auto;
    background-color: var(--lynch);
}

.resume-link {
    line-height: 40px;
    padding: 20px;
    font-size: 20px;
    width: fit-content;
}

.resume-download-btn {
    width: fit-content;
    align-self: center;
    margin: auto;
}

.skills-title {
    margin-bottom: 25px;
}

.listed-skills {
    max-width: 250px;
    /* background-color: var(--lynch); */
}

.individual-skill {
    padding-left: 30px;
    background-color: var(--lynch);
    color: var(--alabaster);
}

/* -------------------FOOTER---------------- */
.footer-container{
    background-color: var(--lynch);
    position: relative;
    bottom:0 !important;
    width: 100%;
}

/* ---------------MEDIA QUERIES------------- */
@media screen and (max-width: 711px) {
    .about-me-img-container{
        margin-top: 30px;
        display: flex;
        justify-content: center;
    }
    
    .about-me-description{
        padding-top: 40px;
    }

    .user-message {
        width: 550px;
    }
}

@media screen and (max-width: 576px) {
    .projects-container {
        display: grid;
        grid-template-columns: auto;
        margin-right: 20px;
        margin-left: 60px;
        justify-content: center;
        align-items: center;
    }

    .project-card {
        margin: 10px 20px 10px 20px;
    }

    .resume-card {
        grid-template-columns: auto;
        padding-bottom: 30px;
    }

    .resume-link{
        justify-self: center;
    }

    .name-email{
        width: 320px;
    }

    .user-message {
        width: 300px;
    }
}